* {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  border-radius: 5px;
  box-sizing: border-box;
}

body {
  background-color: #EFE5DC;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 5px 10px;
  border: 1px solid transparent;
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
}

/* HEADER */
.header {
  background: #6D6A75;
  text-align: center;
  border-radius: 0;
}

.logo {
  font-size: 30px;
  font-weight: 500;
}

/* TASK INPUT */
.todo-form {
  display: flex;
  justify-content: center;
  margin: 15px 5px 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.todo-input {
  padding: 5px;
  border: 2px solid #6D6A75;
}

.todo-btn {
  background-color: #6D6A75;
  margin-right: 15px;
}

.todo-btn:hover {
  background-color: #37323E;
  cursor: pointer;
}

.filter-todo {
  padding: 5px;
  background: #FFFFFF;
  width: 8rem;
}

.select {
  position: relative;
  overflow: hidden;
  border: 2px solid #6D6A75;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #6D6A75;
  color: #FFFFFF;
  top: 0;
  right: 0;
  padding: 5px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.select:hover::after {
  background-color: #37323E;
}

/* TASK LIST */
.todo-list {
  padding: 0;
}

.todo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.todo-item {
  padding: 5px;
  background-color: #FFFFFF;
  width: 75%;
  border: 2px solid #6D6A75;
}

.complete-btn, .trash-btn {
  margin-left: 5px;
}

.complete-btn {
  background-color: #FF6464;
}

.trash-btn {
  background-color: #63C65A;
}

.complete-btn:hover {
  background-color: #FF3434;
}

.trash-btn:hover {
  background-color: #30B024;
}

.completed {
  opacity: 60%;
  text-decoration: line-through;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  /* TASK INPUT */
  .input-containter {
    align-items: center;
  }
  
  .todo-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px auto;
  }

  /* TASK LIST */
  .todo {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 15px auto;
  }
}

@media only screen and (max-width: 426px) {
  .task-btn-container {
    display: flex;
  }
}

@media only screen and (max-width: 376px) {
  * {
    font-size: 15px;
  }

  .logo {
    font-size: 25px;
  }

  .select {
    margin: 5px auto;
  }

  .filter-todo {
    width: 12rem;
  }
}

@media only screen and (max-width: 320px) {
  .input-container {
    flex-direction: column;
  }

  .todo-btn {
    width: 100%;
  }

  .todo {
    flex-direction: column;
    gap: 3px;
    justify-items: center;
    align-content: center;
  }

  .todo-item {
    width: 100%;
  }

  .task-btn-container {
    justify-content: center;
    gap: 5px;
  }

  .complete-btn, .trash-btn {
    flex: 1;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 240px) {  
  * {
    font-size: 10px;
  }

  /* HEADER */
  .logo {
    font-size: 15px;
  }
  
  /* TASK INPUT */
  .todo-form {
    justify-content: center;
  }

  /* TASK LIST */
  .todo {
    width: 90%;
  }
}