body {
  background-color: #E18DFF;
  font-size: 20px;
}

ul {
  list-style: none;
}

/* TASK INPUT */
.todo-form {
  margin: 0 auto;
}

.todo-input {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.todo-btn {
  padding: 5px 7px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #D45CFF;
  font-size: 20px;
}

.todo-btn:hover {
  background-color: #A82FD4;
  cursor: pointer;
}

/* TASK LIST */
.todo {
  display: flex;
  margin-bottom: 1rem;
}

.todo-item {
  padding: 5px;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 75%;
}

.complete-btn, .trash-btn {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 5px;
  color: #FFFFFF;
}

.complete-btn {
  background-color: #FF6464;
}

.trash-btn {
  background-color: #63C65A;
}

.complete-btn:hover, .trash-btn:hover {
  cursor: pointer;
}

.complete-btn:hover {
  background-color: #FF3434;
}

.trash-btn:hover {
  background-color: #30B024;
}