* {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  border-radius: 5px;
  box-sizing: border-box;
}

body {
  background-color: #EFE5DC;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 5px 10px;
  border: 1px solid transparent;
  color: #FFFFFF;
}

button:hover {
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  display: flex;
  background: #6D6A75;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.logo-link {
  font-size: 30px;
  font-weight: 500;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  padding-right: 1rem;
}

.nav-btn {
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

/* TASK INPUT */
.todo-form {
  display: flex;
  justify-content: center;
  margin: 15px 5px 10px;
}

.todo-input {
  padding: 5px;
  margin-right: 5px;
  border: 2px solid #6D6A75;
}

.todo-btn {
  background-color: #6D6A75;
}

.todo-btn:hover {
  background-color: #37323E;
  cursor: pointer;
}

/* TASK LIST */
.todo-list {
  padding: 0;
}

.todo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.todo-item {
  padding: 5px;
  background-color: #FFFFFF;
  width: 75%;
  border: 2px solid #6D6A75;
}

.complete-btn, .trash-btn {
  margin-left: 5px;
}

.complete-btn {
  background-color: #FF6464;
}

.trash-btn {
  background-color: #63C65A;
}

.complete-btn:hover {
  background-color: #FF3434;
}

.trash-btn:hover {
  background-color: #30B024;
}

.completed {
  opacity: 60%;
  text-decoration: line-through;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  /* NAVBAR */  
  .navbar {
    justify-content: space-evenly;
  }

  .nav-list {
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    background-color: #6D6A75;
    transition: 0.5s;
    transform: translateY(-100vh);
    z-index: 1;
  }

  .responsive-nav {
    transform: none;
  }

  .nav-btn {
    visibility: visible;
    opacity: 1;
    z-index: 2;
  }

  /* TASK LIST */
  .todo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media only screen and (max-width: 376px) {
  .todo {
    margin-left: 10px;
    width: 95%;
  }
}

@media only screen and (max-width: 320px) {
  * {
    font-size: 15px;
  }

  .logo-link {
    font-size: 25px;
  }
}

@media only screen and (max-width: 240px) {  
  * {
    font-size: 10px;
  }

  /* NAVBAR */
  .logo-link {
    font-size: 15px;
  }
  
  /* TASK INPUT */
  .todo-form {
    justify-content: center;
  }

  .todo-input {
    width: 75%;
  }

  /* TASK LIST */
  .todo {
    width: 90%;
  }
}